{% extends 'layout.html' %}
{% block content %}

<section id="blog-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="post">
                    <span class="author-name">Corey </span>
                    <span class="publish-date">April 20, 2019</span>
                    <hr>
                    <h2 class="post-title">
                        This is a blog post title 1
                    </h2>
                    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        veritatis
                        illum atque sequi dolorum nostrum distinctio aliquam autem eligendi culpa.</p>
                </div>
                <div class="post">
                    <span class="author-name">Paulo </span>
                    <span class="publish-date">March 20, 2019</span>
                    <hr>
                    <h2 class="post-title">
                        This is a blog post title 2
                    </h2>
                    <p class="post-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
                        veritatis
                        illum atque sequi dolorum nostrum distinctio aliquam autem eligendi culpa.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <main>
                    <h3>Our Sidebar</h3>
                    <span>You can put any information here you'd like</span>
                    <div class="item">
                        <p>Latest Posts</p>
                        <p>Announcements</p>
                        <p>Calender</p>
                        <p>Etc</p>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>

{% endblock %}
