{% extends 'layout.html' %}
{% block content %}

    <section id="form-content">
        <div class="container">
            <div class="form-div col-sm-offset-3 col-sm-6 ">
                <form action="" method="post">
                    {{ form.hidden_tag() }}

                    <fieldset class="form-group">
                        <legend>Join Today</legend>

                        <div class="form-group">
                            {{ form.username.label(class="control-label") }}
                            {% if form.username.errors %}
                                <div class="form-group has-error">
                                    {{ form.username(class="form-control") }}
                                    <div class="help-block">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}

                        </div>

                        <div class="form-group">
                            {{ form.email.label(class="control-label") }}
                            {% if form.username.errors %}
                                <div class="form-group has-error">
                                    {{ form.email(class="form-control") }}
                                    <div class="help-block">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.password.label(class="control-label") }}
                            {{ form.password(class="form-control") }}

                        </div>

                        <div class="form-group">
                            {{ form.confirm_password.label(class="control-label") }}
                            {% if form.confirm_password.errors %}
                                <div class="form-group has-error">
                                    {{ form.confirm_password(class="form-control") }}
                                    <div class="help-block">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control") }}
                            {% endif %}

                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-success") }}
                        </div>

                    </fieldset>


                </form>

                <p class="existing-account">
                    <small>Already Have An Account?</small>
                    <a href="{{ url_for('login') }}">Sign in</a>
                </p>
            </div>

        </div>
    </section>

{% endblock %}