{% extends 'layout.html' %}
{% block content %}

    <section id="form-content">
        <div class="container">
            <div class="form-div col-sm-offset-3 col-sm-6 ">
                <form action="" method="post">
                    {{ form.hidden_tag() }}

                    <fieldset class="form-group">
                        <legend>Sign In</legend>

                        <div class="form-group">
                            {{ form.email.label(class="control-label") }}
                            {% if form.email.errors %}
                                <div class="form-group has-error">
                                    {{ form.email(class="form-control") }}
                                    <div class="help-block">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form.password.label(class="control-label") }}
                            {% if form.password.errors %}
                                <div class="form-group has-error">
                                    {{ form.password(class="form-control") }}
                                    <div class="help-block">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {{ form.password(class="form-control") }}
                            {% endif %}

                        </div>

                        <div class="checkbox">
                            <label>
                                {{ form.remember(class="checkbox") }}
                                {{ form.remember.label }}
                            </label>
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-success") }}
                        </div>

                    </fieldset>


                </form>

                <p class="existing-account">
                    <small>Need An Account?</small>
                    <a href="{{ url_for('register') }}">Register</a>
                </p>
            </div>

        </div>
    </section>

{% endblock %}