{% extends 'layout.html' %}
{% block content %}

    <section id="blog-content">
        <div class="container">
            <div class="row">
            <h1 class="lead">Post by {{ user.username }} ({{ posts.total }})</h1>
                <div class="col-sm-8">
                    {% for post in posts.items %}
                        <div class="post">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ url_for('static', filename='css/profile_pic/'+ post.author.img_file) }}"
                                         alt="..." class="img-rounded img-circle img-responsive">
                                </div>
                                <div class="col-sm-10">
                                    <span class="author-name"><a href="{{ url_for('posts.user_posts', username=post.author.username) }}">{{ post.author.username }}</a> </span>
                                    <span class="publish-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
                                    <hr>
                                    <h2 class="post-title">
                                        <a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                                    </h2>
                                    <p class="post-content">{{ post.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if posts.page == page_num %}
                                <a class="btn btn-info" href="{{ url_for('posts.user_posts', page=page_num, username=user.username) }}">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-danger" href="{{ url_for('posts.user_posts', page=page_num, username=user.username) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            '''
                        {% endif %}
                    {% endfor %}

                </div>

                <div class="col-sm-4">
                    <main>
                        <h3>Our Sidebar</h3>
                        <span>You can put any information here you'd like</span>
                        <div class="item">
                            <p>Latest Posts</p>
                            <p>Announcements</p>
                            <p>Calender</p>
                            <p>Etc</p>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>}

{% endblock %}
